<h3>{{viewTitle}}</h3>

<form action="/customer" method="POST">
    <input type="hidden" name="_id" value="{{customer._id}}">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" placeholder="Full Name" value="{{customer.name}}">
        {{!-- <div class="text-danger">
            {{customer.fullNameError}}</div> --}}
    </div>
    <div class="form-group">
        <label>Balance</label>
        <input type="number" class="form-control" name="balance" min="1" placeholder="Balance" value="{{customer.balance}}">
    </div>

     <div class="form-group">
        <label>accountnumber</label>
        <input type="number" class="form-control" name="accountnumber" min="1" placeholder="Account Number" value="{{customer.accountnumber}}">
    </div>
   
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/customer/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>